div{
    margin-top: 40px;
}
body{
    padding-bottom: 50px;
}
.jumbotron{
    background-image: url("img/skybox.png");
    color:#3CBCBC;
}

h1.rules{
    color:#3CBCBC;
    font-family: 'Fredericka the Great', cursive;
}

.teams{
    color:#3CBCBC;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}
.task{
    color:#3CBCBC;
    font-weight: bold;
}
.text-center{
    font-family: 'Poiret One', cursive;
    font-weight:bold;
}
.clue{
    font-family: 'Fredericka the Great', cursive;
    color: darkslategray;
}
.img-clue{
    padding-left: 80px;
}
.list-group{
    font-family: 'Poiret One', cursive;
    color: red;
    font-weight: bold;
}

.items.list-group{
    font-family: 'Poiret One', cursive;
    color:dimgray;
}
h3.card-title{
    font-family: 'Fredericka the Great', cursive;

}
.task3items.text-center{
    font-size: 40px;
    color:#3CBCBC;
}
